.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.cartItem {
    width: 700px;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}
  
.cartItem img {
    padding-left: 25px;
    width: 200px;
}
  
.cartItem .description {
    width: 50%;
    font-size: 30px;
}
  
.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout {
    font-size: 20px;
}

.checkout button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

button {
    width: 22px;
}